<div style="width: fit-content; margin: auto;" id="contactCard" class="card shadow p-3 mb-5 rounded">
    <div class="card-body">
      <h5 class="card-title"><strong>Call or Text Us</strong></h5>
      <hr/>
      <p class="card-text">Bryce: <a href="sms:317-517-9130">317-517-9130</a></p>
      <p class="card-text">Leasa: <a href="sms:317-437-6173">317-437-6173</a></p>
      <p class="card-text">Luke: <a href="sms:317-444-0913">317-444-0913</a></p>
      <h5 class="card-title"><strong>Other Forms of Contact</strong></h5>
      <hr/>
      <p>
        Email: 
        <a href="mailto:sootherscansurvive.socs@yahoo.com" target="_blank" class="card-link">sootherscansurvive.socs@yahoo.com</a>
      </p>
      <p>
        Facebook:
        <a href="https://www.facebook.com/sootherscansurvive.sosc/" target="_blank" class="card-link">So Others Can Survive Official Page</a>
      </p>
    </div>
  </div>