<div id="ourMissionCard" class="card shadow p-3 mb-5 rounded" >
    <img src="./Images/LandingImage.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Our Mission</h5>
      <hr/>
      <p>
        Our Organization is committed to providing necessities such as <strong>Socks</strong>, blankets, soap, shampoo, clothing, and other specialty services to the homeless community.
      </p>
      <p>
        Our Founder, is dedicated to this organization with the belief that the homeless are not just <strong>“throw away people.”</strong>
      </p>
      <p>
        With your support and contributions, we continue to provide our homeless communities with basic necessities that most of us take for granted.
      </p>
      <p>
        Remember <strong>Even in the summertime the world can be a very cold place.</strong>
      </p>
      <a href="#" class="btn btn-dark">Go somewhere</a>
    </div>
</div>