<div id="ourMissionCard" class="card shadow p-3 mb-5 rounded" >
    <img src="./Images/LandingImage.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Our Mission</h5>
      <hr/>
      <p>
        Our 501(c) (3) Organization is committed to providing necessities such as <strong>Socks</strong>, blankets, soap, shampoo, clothing, and other specialty services to the homeless community.
      </p>
      <p>
        Our Founder, is dedicated to this organization with the belief that the homeless are not just <strong>“throw away people.”</strong>
      </p>
      <p>
        With your support and contributions, we continue to provide our homeless communities with basic necessities that most of us take for granted.
      </p>
      <p>
        Remember <strong>Even in the summertime the world can be a very cold place.</strong>
      </p>
      <a href="https://gofund.me/37ffb19f" target="_blank" class="btn btn-dark">Donate to Our Go Fund Me</a>
    </div>
</div>
<div id="generalInfoCard" class="card shadow p-3 mb-5 rounded">
    <a href="https://www.paypal.com/qrcodes/managed/3247e13d-8fad-4036-8ffa-593598ae7f9d?utm_source=hawk_quick_link" target="_blank">
      <img src="./Images/PaypalQR.png" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
      <h5 class="card-title"><strong>Help Us Help Them</strong></h5>
      <hr/>
      <p class="card-text">All contributions go toward assisting our homeless communities here in the United States.</p>
      <p>Thank you for your continued support!</p>
      <p>We accept clean / gently used clothing always.</p>
      <a href="mailto:sootherscansurvive.socs@yahoo.com" target="_blank" class="card-link">Email Us</a>
      <a href="https://www.facebook.com/sootherscansurvive.sosc/" target="_blank" class="card-link">Find us on Facebook</a>
      <a href="./howToHelp.html" class="card-link">How to Help</a>
    </div>
  </div>